.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    background-color: #8964b0;
    color: white;
    font-style: normal;
    box-shadow: 0 2px 8px #8964b0;
}

.profile-border {
    height: 100px;
    width: 100px;
    border-color: #40E0D0;
    border-style: solid;
    border-radius: 50%;
}

.profile-img {
    height: 100%;
    width: 100%;
}

button {
    margin-left: 2px;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #8964b0;
    background-color: #8964b0;
    border: solid;
    border-color: #40E0D0;
}

button#message-btn {
    background-color: #40E0D0
}

button#follow-btn {
    color: #40E0D0;
}

h4 {
    margin-right: 230px;
    margin-bottom: -8px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
    border: solid;
    border-width: 0.5px;
}

.pro-badge {
    position: absolute;
    left: 20px;
    padding: 20px;
    background-color: #40E0D0;
}